html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  background-color: var(--bg-color);
  color: var(--primary-text);
  font-family: 'Lato', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh;
  padding: 100px 20px;
  position: relative;
}

.section-content {
  max-width: 1200px;
  margin: auto;
}

.home-section,
.about-section,
.projects-section,
.contact-section {
  background-color: var(--bg-color);
  color: var(--primary-text);
}

.filler-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--accent-color);
}